:root{
  --color-rojo: #e63946;
  --color-azul: #457b9d;
  --color-amarillo: #f0d02f;
  --color-verde: #52b788;
  --color-celeste: #219ebc;
  --color-negro: #333533;
  --color-crema: #e8eddf;
}

html{
  font-size: 62,5%;
  margin: 0 0;
  padding: 0 0;
  scroll-behavior:smooth;
}

body{
  user-select: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  position: relative;
  min-height: 96.6vh;
  padding-bottom: 2rem;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--color-negro);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-celeste);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

/* NAV */

.navbar{
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-negro);
  border-bottom: 1px solid var(--color-azul);
  
}

.links{
  display: flex;
  flex-direction: row;
  width: 50rem;
  justify-content: space-around;
  align-items: center;
}

.nav__link{
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.25s;
  color: black;
  font-weight: lighter;
  color: white;
  margin: 0 0.25rem;
}

.nav__link:hover{
  color: #e63946;
}

.active{
  color: var(--color-amarillo);
}

.text__saludo{
  margin: 0 1rem;
  text-align: center;
  color: white;
}

.logo{
  width: 6.5rem;
  height: 6.5rem;
  background-color: white;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 0px white;
  cursor: pointer;
  animation: shake 1.5s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.div__carrito{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 3px solid var(--color-azul);
  border-radius: 10px;
  margin: 0 0.25rem;
  transition: 0.2s;
  cursor: pointer;
}

.div__carrito:hover{
  border: 3px solid var(--color-rojo);
}

.carrito{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-negro);
  width: 6rem;
}

#carrito_lleno{
  font-size: 2rem;
  margin: 0 0.5rem;
  color: var(--color-rojo);
}

#carrito_cantidad{
  font-size: 2rem;
  margin: 0 0.5rem;
  display: none;
}

/* MAIN */

.div__preloader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.greeting{
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
}

.contenedor__productos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.div__producto{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  min-height: 30rem;
  text-align: center;
  margin: 1rem 4rem; 
  border-radius: 10px;
  box-shadow:
  3.4px 3.7px 5.1px rgba(0, 0, 0, 0.048),
  8.2px 8.8px 12.3px rgba(0, 0, 0, 0.069),
  15.4px 16.5px 23.2px rgba(0, 0, 0, 0.085),
  27.5px 29.5px 41.3px rgba(0, 0, 0, 0.101),
  51.4px 55.1px 77.3px rgba(0, 0, 0, 0.122),
  123px 132px 185px rgba(0, 0, 0, 0.17);  
}

.div__producto:hover{
  outline: 2px solid var(--color-negro);
}

.producto__img{
  width: 14rem;
  height: 10rem;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(219 218 218);
  object-fit: contain;
  padding: 1rem;
  margin: 0 0.5rem;
}

p{
  font-weight: lighter;
  font-size: 1rem;
  margin: 0 0.5rem;
}

h3{
  margin: 0;
}

.btn__ver{
  background-color: var(--color-rojo);
  color: white;
  font-weight: bold;
  height: 2rem;
  border: none;
  border-radius: 5px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
  box-shadow:
  0.6px 1.4px 1.8px rgba(0, 0, 0, 0.11),
  5px 11px 14px rgba(0, 0, 0, 0.22);
}

.btn__ver:hover{
  background-color: var(--color-azul);
}

.producto__title{
  margin: 0;
}

/* ITEM DETAIL / DETAIL CONTAINER */

.category__title{
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

.ItemDetail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.div__itemDetail{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80rem;
  height: 75vh;
  border-radius: 10px;
  box-shadow:
  3.4px 3.7px 5.1px rgba(0, 0, 0, 0.048),
  8.2px 8.8px 12.3px rgba(0, 0, 0, 0.069),
  15.4px 16.5px 23.2px rgba(0, 0, 0, 0.085),
  27.5px 29.5px 41.3px rgba(0, 0, 0, 0.101),
  51.4px 55.1px 77.3px rgba(0, 0, 0, 0.122),
  123px 132px 185px rgba(0, 0, 0, 0.17);
}

.itemDetail__title{
  font-size: 3rem;
  text-align: center;
}

.itemDetail__img{
  width: 35vw;
  height: 35vh;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(219, 218, 218);
  object-fit:contain;
  padding: 0.5rem;
}

.itemDetail__description{
  text-align: center;
  font-size: 1.25rem;
  margin: 0 2rem;
}

.itemDetail__price{
  font-size: 2rem;
  margin: 0;
}

.div__btn_ItemQuantitySelector{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-negro);
  border-radius: 5px;
  padding: 0.5rem;
  width: 20rem;
  height: 4rem;
  margin: 1rem;
}

.btn__ItemQuantitySelector_number{
  font-size: 2rem;
  color: white;
  font-weight: bold;
  width: 2.5rem;
  text-align: center;
}

.btns__ItemQuantitySelector{
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
  border-radius: 100%;
  border: 1px solid white;
  background-color: var(--color-negro);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
  text-align: center;
}

.btns__ItemQuantitySelector:hover,.btn__ItemQuantitySelector_Carrito:hover{
  background-color: white;
  border: 1px solid var(--color-celeste);
  color: black;
}

.btn__min{
  background-color: var(--color-rojo);
}

.btn__max{
  background-color: var(--color-celeste);
}


.btn__ItemQuantitySelector_Carrito{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 2px solid white;
  background-color: var(--color-rojo);
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 0.5rem;
}

.btn__ItemQuantitySelector_Carrito_zero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 2px solid white;
  background-color: var(--color-rojo);
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 0.5rem;
  opacity: 20%;
  cursor:auto;
}

.btn__final{
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: var(--color-rojo);
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.btn__final:hover{
  background-color: var(--color-azul);
}

/*FOOTER*/

.footer{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 2rem;
  background-color: var(--color-azul);
  bottom: 0;
}

.footer__terminos{
  margin: 0;
}

.footer__link{
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.footer__link:hover{
  color: var(--color-amarillo);
}

/*CART*/

.cart__alldiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.cart__div{
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  border: 3px solid black;
  height: 44rem;
  overflow-y: auto;
  overflow-x: hidden;
  border: 3px solid var(--color-negro);
  border-radius: 10px;
  box-shadow:
  3.4px 3.7px 5.1px rgba(0, 0, 0, 0.048),
  8.2px 8.8px 12.3px rgba(0, 0, 0, 0.069),
  15.4px 16.5px 23.2px rgba(0, 0, 0, 0.085),
  27.5px 29.5px 41.3px rgba(0, 0, 0, 0.101),
  51.4px 55.1px 77.3px rgba(0, 0, 0, 0.122),
  123px 132px 185px rgba(0, 0, 0, 0.17);  
}

#empty_cart{
  justify-content: center;
}

.cart__msg{
  text-align: center;
  padding: 0 0.25rem;
}

.btn__vaciar{
  position: absolute;
  text-align: center;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  width: 4rem;
  height: 4rem;
  border: none;
  background-color: var(--color-celeste);
  border-radius: 100%;
  top: 1%;
  right: 0.5%;
  cursor: pointer;
  transition: 0.2s;
}

.btn__vaciar:hover{
  background-color: var(--color-amarillo);
  box-shadow: 0px 0px 5px var(--color-amarillo);
  transform: scale(1.1);
}

.cart__div_product{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  min-height: 19rem;
  margin: 1rem;
  padding: 0.25rem 0;
  border: 3px solid var(--color-negro);
  border-radius: 10px;
  text-align: center;
}

.img__cart{
  width: 7rem;
  height: 7rem;
  object-fit: contain;
}

#btn_eliminar{
  background-color: var(--color-rojo);
  color: white;
  font-weight: bold;
  min-height: 2rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
  box-shadow:
  0.6px 1.4px 1.8px rgba(0, 0, 0, 0.11),
  5px 11px 14px rgba(0, 0, 0, 0.22);
  margin: 0.5rem 0;
}

#btn_eliminar:hover{
  background-color: var(--color-azul);
}

.cart__pay{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 44rem;
  border: 3px solid var(--color-negro);
  border-radius: 10px;
  box-shadow:
  3.4px 3.7px 5.1px rgba(0, 0, 0, 0.048),
  8.2px 8.8px 12.3px rgba(0, 0, 0, 0.069),
  15.4px 16.5px 23.2px rgba(0, 0, 0, 0.085),
  27.5px 29.5px 41.3px rgba(0, 0, 0, 0.101),
  51.4px 55.1px 77.3px rgba(0, 0, 0, 0.122),
  123px 132px 185px rgba(0, 0, 0, 0.17);  
  padding: 1rem 0;
}

.total{
  font-size: 2rem;
  padding: 0 1rem;
  background-color: var(--color-negro);
  color: white;
}

#total_animation{
  animation: tilt-shaking 2s infinite;
}

.stock{
  margin: 0;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg);  color: var(--color-amarillo);}
  25% { transform: rotate(5deg);}
  50% { transform: rotate(0eg);}
  75% { transform: rotate(-5deg);}
  100% { transform: rotate(0deg);}
}


/*PAY*/

form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100% ;
  width: 90%;
  border: 3px solid black;
}

.pay__titles{
  margin: 2rem;
  font-size: 4rem;
}

.total{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 5rem;
  margin: 1rem 0 5rem 0;
  font-size: 2.5rem;
}

.btn__buy{
  width: 12rem;
  height: 3rem;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: var(--color-rojo);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.btn__buy:hover{
  background-color: var(--color-azul);
}

#disabled{
  opacity: 20%;
  cursor: auto;
  background-color: var(--color-rojo);
  cursor: default;
}

/* FORM SELL */


#form__sell{
border: none;
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
width: 100%;
}

.form__title{
  font-size: 3rem;
  margin: 1rem 0;
  text-align: center;
}

.input__form_sell{
  text-align: center;
  margin: 0.5rem 0;
  width: 15rem;
  height: 1.5rem;
  font-size: 1rem;
}

.input__form_sell:focus{
  border: 2px solid var(--color-celeste);
  border-radius: 5px;
  outline: none;
}

.form__div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.form_btn_comprar{
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: var(--color-rojo);
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  margin: 1rem;
}

.form_btn_comprar:hover{
  background-color: var(--color-azul);
}

.form__total{
  color: white;
  margin-bottom: 1rem;
  border: 3px solid var(--color-negro);
  background-color: var(--color-negro);
  border-radius: 5px;
  padding: 0.5rem;
}

.form__msg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  text-align: center;
}

.form__error_text{
  padding: 0 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.form__msg_link{
  margin: 1rem 0;
  font-size: 1rem;
}

.form__msg_idbuy{
  margin: 1rem 0;
  color: var(--color-rojo);
  font-size: 2rem;
  user-select: text;
}

/*Busqueda*/

.buscarCompra__title{
  font-size: 2.5rem;
  margin: 1.2rem 0 ;
}

.compra__noencontrada{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25rem;
  justify-content: center;
  align-items: center;
}

.compra__noencontrada_text{
  font-size: 2rem;
}

.buscarCompra{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buscarCompra__form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  flex-wrap: wrap;
}

#input_buscador{
  width: 15rem;
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
}

#btn_buscador{
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem;
  color: white;
  background-color: var(--color-rojo);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#btn_buscador:hover{
  background-color: var(--color-azul);
}

.comprobante__div_producto{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 3px solid var(--color-negro);
  border-radius: 10px;
  width: 25rem;
  min-width: 15rem;
  padding: 0.25rem;
  margin: 1rem;
}

.comprobante__div_datos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 30rem;
  height: 7rem;
  padding: 1rem;
}

.comprobante__img{
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border: none;
  padding: 0.25rem;
}

.div__producto_busqueda{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.busqueda__total{
  font-size: 2.5rem;
  background-color: var(--color-negro);
  color: white;
  padding: 0 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .text__saludo{
    font-size: 1.25rem;
  }

  .nav__link{
    font-size: 1rem;
  }

}

@media screen and (max-width: 768px){
  .text__saludo{
    font-size: 0.8rem;
  }

  .logo{
    width: 5rem;
    height: 5rem;
  }

  .links{
    flex-wrap: wrap;
  }

  .cart__alldiv{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cart__div, .cart__pay{
    width: 80%;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 425px) {
  .carrito{
    flex-direction: column;
  }

  .total{
    width: 70%;
    font-size: 2rem;
  }
  .cart__item_description{
    display: none;
  }

  .itemDetail__title{
    font-size: 2rem;
  }

  .div__carrito{
    width: 3.5rem;
  }
  .comprobante__div_producto{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .comprobante__div_datos{
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .text__saludo{
    display: none;
  }
}